.header_right{
	.icon{
		font-size:0.633333rem;
		color:#fff;
		position: relative;
		top: 0.08rem;
	}
}
.section{
	.addAddress{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		height: 2.08rem;
		border-bottom: 0.026667rem solid #d8d8d8;
		.icon{
			padding:0 0.4rem;
			font-size:0.633333rem;
		}
		.R{
			width: 70%;
			.receiver_infor{
				padding:5px 0;
				font-size:0.346667rem;
				display: flex;
				justify-content: space-between;
				.phone{
		
				}
			}
			.reAddress{
				padding:5px 0;
				font-size:0.346667rem;
			}
		}
		
	}
	.distribution_bar{
		border-bottom: 0.026667rem solid #d8d8d8;
		ul{
			height: 1.066667rem;
			display: flex;
			justify-content: space-between;
			align-items:center;
			padding:0 0.533333rem;
			font-size:0.346667rem;
			.current_distr_method{
				color:#999;
			}
		}
		
	}
	.order_pro_con{
		display: flex;
		height: 1.386667rem;
		justify-content: space-between;
		align-items:center;
		padding:0.8rem 0.433333rem;
		font-size:0.346667rem;
		.order_pro_pic{
			padding-right:0.133333rem;
			width: 15%;
			// height: 90%;
		}
		.order_pro_text{
			width: 50%;
			color:#000;
		}
		.order_pro_digital{
			display: flex;
			flex-wrap: wrap;
			justify-content: right;
			.price{
				width: 100%;
			}
		}

	}
	.feedback_main{
		
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding:0 0.533333rem;
		border-bottom: 0.026667rem solid #d8d8d8;

		textarea{
			width: 100%;
			box-sizing:border-box;
			font-size:0.373333rem;
			height:1.28rem;
			color:#999;
			border-radius:0.14rem;
			border:0.026667rem solid #ccc;
			margin-bottom:0.8rem;

		}
	}
	.order_pro_zeng{
		display: flex;
		padding:0.533333rem;
		color:#999;
		font-size:0.32rem;
		border-bottom:2px solid #d8d8d8;
		.icon{
			font-size:0.4rem;
		}
		.baoyou{
			color:#9474e1;
			border:0.026667rem solid #9474e1;
			border-radius: 0.16rem;
			line-height: 0.453333rem;
			font-size:0.32rem;
			padding: 0 0.106667rem;
			margin:0 0.266667rem;
		}
	}
	.order_status_info{
		display: flex;
		justify-content: space-between;
		align-items:center;
		flex-wrap: wrap;
		padding: 0.533333rem;
		font-size:0.346667rem;
		border-bottom: 0.026667rem solid #d8d8d8;
		p{
			width: 100%;
			display: flex;
			padding:0.106667rem 0;
			justify-content: space-between;
		}
	}
	.sum{
		font-size:0.346667rem;
		position:fixed;
		bottom:0;
		padding:0.266667rem 0;
		padding-left:4.666667rem;
		margin-top: 0.266667rem;
		border-bottom:0.026667rem solid #d8d8d8;
		.price{
			color:#ff6600;
			font-weight: 900;
			font-size:0.4rem;
		}
		.submit{
			display: inline-block;
			height: 0.933333rem;
			line-height:0.933333rem;
			color:#fff;
			padding:0 0.8rem;
			border-radius:0.16rem;
			background:#4dc496;
			margin-left: 0.533333rem;
		}
	}
}